streamlit==1.49.1
python-dotenv==1.1.1
langchain==0.3.30
langchain-community==0.3.29
langchain-chroma==0.2.5
langchain-groq==0.3.7
langchain-huggingface==0.3.1
langchain-text-splitters==0.3.11
chromadb==1.5.9
sentence-transformers==3.0.1
transformers==4.44.2
accelerate==0.33.0
tokenizers==0.19.1
torch==2.4.1
torchvision==0.19.1
youtube-search-python==1.6.6